.rdrDateDisplayWrapper{
  background-color: transparent;
}
.rdrNextPrevButton{
  background-color: transparent;
}
.rdrMonthAndYearPickers select:hover{
  background-color:transparent
}
.rdrDayToday .rdrDayNumber span:after{
  background:#577D45;
}
.rdrDateDisplayItem{
  border:none;
}

:root {
    --color-gold: #B99362;
}
body {
    background-color: rgb(48,61,48);
    /* background-color: rgb(200,229,207); */
    /* background-color:rgb(5,105,102); */
    /* background-color:rgb(55,137,113);   */
    color:white;
    max-width:1280px;
    margin:0 auto;
    padding-top:70px;
    /* color:rgb(194,173,62); */
    /* color:rgb(5,105,102) */
}
svg {
    height: 100vh;
}
path {
    stroke: white;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
}
path:hover {
    fill: #577D45;
    transform: translate(-5px, -5px);
}
path:focus {
    fill: #577D45;
}
