:root {
    --color-gold: #B99362;
}
svg {
    height: 100vh;
    width:100%;
}
@media screen and (max-width:767px){
    svg{
        width:60%;
        height:50vh;
        margin-left:15%;
    }
}
path {
    stroke: #F6EAD6;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
}
path:hover {
    fill: #B99362;
}

